.root {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
.text-field {
    -fx-font-size: 14px;
}

.button {
    -fx-font-size: 14px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}